<!DOCTYPE html>
<html>
<head>
  <%= render_page_title_tag %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
	  <div class="navbar-inner">
	  	<div class="container">
		    <a class="brand" href="/">Richfisher.Me</a>
		    <ul class="nav">
		      <li><%= link_to 'Panel Home', '/panel/' %></li>
		      <li><%= link_to 'Articles', panel_articles_path %></li>
		      <li><%= link_to 'Categories', panel_categories_path %></li>	      
		    </ul>
	  	</div>
	  </div>
	</div>

  <div id="main_container" class="container">
		<%= render :partial => 'layouts/flash', :locals=>{:flash=>flash} %>
		<div class="row">
		  <div class="span12">
		  	<%= yield %>
		  </div>
		</div>
  </div>

</body>
</html>
