<!DOCTYPE html>
<html>
<head>
  <%= render_page_title_tag %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render 'layouts/header' %>

  <div id="main_container" class="container">
  	<%= render 'layouts/flash' %>
		<div class="row">
		  <div class="span9">
		  	<%= yield %>
		  </div>
		  <div class="span3">
		  	<%= render 'layouts/sidebar' %>
		  </div>
		</div>
  </div>

  <%= render 'layouts/footer' %>

</body>
</html>
